* {
    padding: 0%;
    margin: 0%;
}

.card-img-top {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 100px;
}

.card-header {
    height: 200px;
    background: purple;
}